[Unit]
Description=Stubbage DNS proxy

[Service]
Type=simple
ExecStart=/home/pi/code/stubbage/stubbage -conf /home/pi/code/stubbage/test.conf
Restart=always

[Install]
WantedBy=multi-user.target
